<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>

<h1>Products</h1>

{% if products %}

    {% for product in products %}
        <hr>

        <h2>{{ product.name }}</h2>

        <p>ID + Name:
            {{ product.get_product_info }}
        </p>

        <p>Price:
            {{ product.price }}
        </p>

        <p>Quantity:
            {{ product.quantity }}
        </p>

        <p>Total:
            {{ product.get_total_price }}
        </p>

    {% endfor %}

{% endif %}


{% if product %}

    <hr>

    <h2>{{ product.name }}</h2>

    <p>ID + Name:
        {{ product.get_product_info }}
    </p>

    <p>Price:
        {{ product.price }}
    </p>

    <p>Quantity:
        {{ product.quantity }}
    </p>

    <p>Total:
        {{ product.get_total_price }}
    </p>

{% endif %}

</body>
</html>